.container{
    margin: 5%;
    padding: 5%;
    
}
.row{
    margin: 0%;
    padding: 0%;
}
.form{
    margin: 0%;
    padding: 0%;

}
.form-group{
    color: #000;
    /* background:; */
    text-align: left;
    margin-top: 2%;
    padding: 0%;
}
.form-control{
    text-align: left;
    color: #000;
    
}