.body{
    margin: 0%;
    padding: 0%;
}
.container{
   
    margin: 5%;
    padding: 5%;
}

.navbar span{
    margin-left: 2%;
}
#add-task{

margin-top: 2%;
}
#actions{
    width: 200px;
}
#scope{
    width: 100px;
}